//          DT Hero

.hero {
  .container {
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      -webkit-image-set(url(../../images/desktop_w/img.webp) 1x, url(../../images/desktop_w/img@2x.webp)
            2x, url(../../images/desktop/img.jpg) 1x, url(../../images/desktop/img@2x.jpg)
            2x);
  }

  &-title {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}
