@media screen and (min-width: $dt-res) {
  .hero {
    padding: 200px 0;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop/img@2x.jpg);
    }
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/img.jpg);

    background-size: 1600px 600px;

    &-title {
      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }
}
