//          Desktop Clients

@media screen and (min-width: $dt-res) {
  .clients {
    padding: 94px 0;

    &-header {
      margin-bottom: 50px;

      font-size: 36px;
      line-height: calc(42 / 36);
    }
    &-item {
      width: calc((100% - 2 * 6 * var(--mci)) / 6);
    }
  }
}
