//          DT Footer

.footer .container {
  display: flex;
}
.footer address {
  width: 231px;
  height: 81px;
  display: inline-block;
  margin-top: 20px;
}

.address-item:not(:first-of-type) {
  margin-top: 9px;
}

.logo-address {
  margin: 0;
}

.footer-logo,
.address-item {
  text-align: start;
}
.join-box {
  margin: 12px 0 0 70px;
  text-align: left;
}
.soc-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.join-box .soc-links {
  display: flex;
  justify-content: space-between;

  fill: #afb1b8;
}
/* ------------------- ПОДПИСКА --------------------*/
.subscribe-email {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 570px;
  height: 86px;
  margin: 12px auto 0 93px;

  & label {
    width: 358px;
  }
  & button {
    margin: 0;
  }
}

.subscribe-input {
  padding-left: 16px;

  width: 358px;
}
