//     Desktop Menu

.part2 {
  color: #000; 
}

.header .container {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-right: 305px;
}

.contacts {
  margin-top: 0;

  & a {
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.email,
.phone {
  margin: 0;
  display: flex;
  align-items: center;

  color: var(--primary-text-color);

  transition: color var(--t-cubic);
}

.envelope,
.smartphone {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill var(--t-cubic);
}

.header .email {
  margin-right: 30px;
}

.header address {
  display: flex;
}
