//     Desktop Menu

.part2 {
  color: #000; //только в этом макете не 212121
}

.header .container {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-right: 305px;
}
.contacts {
  margin-top: 0;
}
.email,
.phone {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color var(--t-cubic);
}

.email,
.phone {
  margin: 0;
}
.envelope,
.smartphone {
  margin-right: 10px;

  fill: var(--primary-text-color);

  transition: fill var(--t-cubic);
}
.header .email {
  margin-right: 30px;
}
.header address {
  display: flex;
  // margin-left: auto;
}
