//          0 Header

.header .container {
  height: 80px;
  border-bottom: 1px solid #ececec; //maket by
}

.nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
