//          0 Hero

.hero {
  padding: 118px 0;
  background-repeat: no-repeat;
  background-position: center top;

  & .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &-title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    // 60/44 from DT
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
  & .button {
    // margin: 30px auto 0 auto;
    margin-top: 30px;
    color: #fff;
    background-color: var(--accent-color);
  }
}
