//          0 Hero_m_t

.hero {
  padding: 118px 0;
  padding: 76px 0;
  // @media screen and (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: linear-gradient(
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(../images/mobile/img@2x.jpg);
  // }
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/img_320_fh.jpg);
  // background-repeat: no-repeat;
  // background-position: center top;
  & .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &-title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    // 60/44 from DT
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    color: #eee;
  }
  & .button {
    // margin: 30px auto 0 auto;
    margin-top: 30px;
    color: #fff;
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color-send-btn);
    }
  }
}
