//          0 Hero

.hero {
  padding: 0;

  & .container {
    padding: 0;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-position: center top;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      // -webkit-image-set(url(../../images/mobile_w/img.webp) 1x, url(../../images/mobile_w/img@2x.webp)
      //       2x, url(../../images/mobile/img.jpg) 1x, url(../../images/mobile/img@2x.jpg)
      //       2x);
      -webkit-image-set(url(/../../images/mobile/img.jpg) 1x);
      // -webkit-image-set(
      //     url(./images/mobile_w/img.webp) 1x,
      //     url(./images/mobile_w/img@2x.webp) 2x,
      //     url(./images/mobile/img.jpg) 1x,
      //     url(./images/mobile/img@2x.jpg) 2x
      //   );
  }

  &-title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    color: #eee;
  }

  & .button {
    margin-top: 30px;
    color: #fff;
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color-send-btn);
    }
  }
}
