//          0 Vertu

.vertu {
  padding: 60px 0;

  &-header {
    margin-top: 30px;

    font-weight: bold; // 700
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
  }

  &-text {
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
}

.icon-place {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.vertu .icon {
  margin: 25px 0;
  width: 70px;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .vertu {
    &-list {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
    }
    &-item{
      margin: 15px;
    }
  }
}
