//          0 Team

.team {
  background-color: #f5f4fa;
  padding: 60px 0;

  &-header {
    margin-bottom: 30px;
    font-weight: bold;  // 700
    font-size: 28px; // 36px;
    line-height: calc(33 / 28);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  &-item {
    margin-top: 30px;
    
    padding-bottom: 24px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &-name {
    margin-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  &-spec {
    margin: 10px 0 16px;

    font-weight: normal;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
}

.soc-links {
  display: flex;
  justify-content: space-between;
  width: 206px;

  .team & {
    margin: 0 auto;
    fill: #afb1b8;
    border-radius: 50%;
  }
}
.soc-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--t-cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    transition: var(--t-cubic);
  }
}
.soc-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--t-cubic);

  .soc-list-link:hover &,
  .soc-list-link:focus & {
    fill: #fff;
    transition: fill var(--t-cubic);
  }
}
@media screen and (min-width: 768px) {
  .team {
    &-list {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
    }
    &-item{
      margin: 15px;
    }
  }
}
