//          0 Clients

:root {
  --mci: 15px; // --marg-cl-itm
  --mcin: calc((-1) * (var(--mci))); //marginClientsItemNegative
}
.clients {
  padding: 60px 0;

  &-header {
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 28px; // 36px;
    line-height: calc(33 / 28); // 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: var(--mcin);
  }
  &-icon {
    max-width: 88px;
    max-height: 52px;
    fill: currentColor;
  }
  &-item {
    margin: var(--mci);
  
    height: 90px;
    width: 100%;
  }
  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    text-align: center;
  
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
  
    transition: color var(--t-cubic);
  
    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
      outline: none;
    }
}


}
