.logo{
  font-family: Raleway, sans-serif;
  font-weight: bold; // 700; 
  font-size: 24px;
  line-height: calc(28 / 24); //  31/26 - DT
  letter-spacing: 0.03em;
}
.part1 {
  color: var(--accent-color);
}
.part2 {
  color: var(--title-text-color); 
}
.button {
  display: flex;
  align-items: center;
  border-width: 0;
  // padding: calc(10px - border-width) 32px;
  // padding: calc(10px - 2px) calc(32px - 2px);
  padding: 10px 32px;


  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
  
  background: #f5f4fa;
  border-color: transparent;
  // border-bottom-width: 4px;
  border-radius: 4px;
  cursor: pointer;

  transition: all var(--t-cubic);

  &:hover,&:focus {
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}