body {
  font-family: Roboto; // font-style: normal;
  /*не ясно, почему нет у элемента 1st, в TDs*/
  // border-width: 1px;

}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.container {
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }

  @media screen and (min-width: 768px) and(max-width: 1199px) {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
    // width: 100%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
// .direction-title,
