:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --text-on-dark-bcg: #fff;
  
  --primary-bcg-color: #fff;
  --filter-bg: #f5f4fa;
  --accent-color: #2196f3;
  --accent-color-send-btn: #188ce8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --t-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --tabs-color: #f5f4fa; 
}
