//  Tablet Hero

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/img@2x.jpg);
    }
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/img.jpg);
      
    background-size: 768px 400px;
  }
}
