//      Tablet Footer

.footer {
  &-tablet {
    display: flex;
    justify-content: space-between;
  }

  & address {
    display: flex;
  }
}
.logo-address{
  margin-left: 61px;
}
.address-item {
  text-align: center;
}

.join-box {
  margin-top: 5px;
  margin-right: calc(89px - 15px);
}

.subscribe-email {
  margin-left: calc(166px - 15px);
  margin-right: calc(152px - 15px);
}
