//          Tablet Form
//      Desktop Form

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .form h2 {
      margin-bottom: 12px;
    
      font-weight: bold;
      font-size: 20px;
      line-height: calc(23 / 20);
      letter-spacing: 0.03em;
      color: #212121;
      text-align: center;
    }
    .form .icon {
      position: absolute;
      top: 50%;
      left: 15px;
    
      transform: translateY(-50%);
    
      display: inline-block;
      width: 15px;
      height: 15px;
      transition: fill var(--t-cubic);
    }
    .form-field {
      position: relative;
      display: block;
      margin-bottom: 20px;
    
      &:focus-within > .icon {
        fill: var(--accent-color);
      }
    
      &:focus-within > .form-input {
        outline: none;
        border: 1px solid var(--accent-color);
      }
    }
    .form-label {
      font-weight: normal;
      font-size: 12px;
      line-height: CALC(14 / 12);
      letter-spacing: 0.01em;
    
      color: #757575;
    }
    .form-input {
      width: 100%;
      margin: 0;
      padding: 12px 0 12px 42px;
      // font: inherit;
      border-radius: 3px;
      border: 1px solid rgba(33, 33, 33, 0.2);
    
      transition: border-color var(--t-cubic);
    }
    .message {
      resize: none;
    
      width: 100%;
      padding: 12px 16px;
    
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      transition: border-color var(--t-cubic);
      
      &:focus-within {
        outline: none;
        border: 1px solid var(--accent-color);
        border-radius: 4px;
      }
    }
    .accept {
      display: block;
      text-align: center;
    
      margin-left: auto;
      margin-right: auto;
    
      & span {
        font-size: 14px;
        line-height: calc(24 / 14);
      
        color: #757575;
        vertical-align: middle;
      }
    
      & a {
        text-decoration: none;
        color: var(--accent-color);
        border-bottom: 1px solid var(--accent-color);
      }
    }
    .custom-check-box {
      display: inline-block;
      width: 16px;
      height: 15px;
    
      background-image: url("../images/box.svg");
    }
    .accept-input:checked + .custom-check-box {
      border-color: transparent;
      background-color: var(--accent-color);
      background-image: url("../images/mark.svg");
      background-size: contain;
      background-origin: border-box;
    }
    .subscribe input::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
    .form button {
      padding: 10px 55px;
      margin: 30px auto 0;
      color: #fff;
      background-color: var(--accent-color);
    }}