//      Tablet Portfolio       

@media screen and (min-width: 768px) and (max-width: 1199px) {
.portfolio-hero .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: calc(16px + 34px);

  & .button {
    padding: 6px 22px;
  
    font-weight: 500;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
  }
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-items {
  // padding-top: 34px;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-item {
  // width: 354px;
  width: calc((100% - 2 * 2 * 15px) / 2);
  border: 1px solid #eeeeee;
  margin: 15px;
  
  &:focus-within,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  // outline: 1px solid violet;
}
.portfolio-link {
  text-decoration: none;
  outline: tomato;

  &:focus .slide,
  &:hover .slide {
    transform: translateY(-100%);
  }
}
.portfolio-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.theme {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.discription {
  padding: 20px 24px;
}
.card-thumb {
  height: 294px;
  overflow: hidden;
}
.slide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;

  transition: transform var(--t-cubic);
}}





