//  Mobi Hero

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/mobile/img@2x.jpg);
    }

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/img.jpg);

    background-size: 480px 400px;
  }
}
