//                      Mobi

@import "./menu";






@import "./0header";
@import "./1hero";
@import "./2vertu";          
    // @import "./3directions"; //  отсутстует в этой вёрстке
    // @import "./4team";       //  упразднён
@import "./5clients";
@import "./footer";

// @import "./backdrop_modal";  //  упразднён
// @import "./form";            //  упразднён

@import "./portfolio";
