//             Mobil Menu
@media screen and (max-width: 767px) {
  .menu-button {
    // outline: none;  // !не работает. Почему?
    display: inline-flex;
    margin: 0;
    padding: 0;    //    не вижу нужды
    border: none;
    background-color: transparent;
  }
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
  .menu-container {
    display: none; //                  Можно включить постоянно
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;

    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
    }
  }
  .site-page {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    // 14px;
    line-height: calc(21 / 18);
    // 16 / 14);
    letter-spacing: 0.02em;

    color: var(--title-text-color);
  }
  .site-nav {
    margin-bottom: 60px;
    // outline: 1px solid black;
  }
  .site-nav li:not(:last-child) {
    margin-bottom: 40px;
  }
  .site-nav li {
    text-align: center;
  }
  .link.is-current {
    color: var(--accent-color);
  }
  //-----------
  .site-nav .link {
    padding-bottom: 8px;
    position: relative;
  }
  .link.is-current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .site-nav .link:hover,
  .site-nav .link:focus,
  .email:hover,
  .email:focus,
  .phone:hover,
  .phone:focus,
  .map-address:hover,
  .map-address:focus {
    color: var(--accent-color);
  }
  //---------------
  .contacts .email,
  .contacts .phone {
    display: block;
    font-weight: 500;
    font-size: 18px;
    // 12px;
    line-height: calc(21 / 18);
    // 14 / 12);
    text-align: center;
    color: var(--primary-text-color);
    // text-decoration-color: var(--primary-text-color);
    // outline: 1px solid black;
  }
  .email {
    margin-bottom: 16px;
  }
  .smartphone,
  .envelope {
    margin-right: 10px;
  }
}
